name: 'Silex: Unit test'

on:
#  schedule:
#    - cron: '0 0 1 * *'
  push:
    paths:
      - '**.php'
      - 'composer.json'
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/**'
    branches:
      - 'symfony5-upgrade'
  pull_request_target:
    paths:
      - '**.php'
      - 'composer.json'
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/**'

jobs:
  phpunit:
    name: PHPUnit
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version: ['7.4', '8.0', '8.1', '8.2']

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: none
        env:
          COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check PHP Version
        run: php -v

      - name: 'Composer: Installing'
        run: composer install

      - name: 'PHPUnit: Testing'
        run: vendor/bin/simple-phpunit
